<!-- Navigation Bar -->
<nav class="navigationBar">
    <div class="leftNav">
        <!-- HomeLink on icon -->
        <a href="/" ><i class="fa-solid fa-house-crack fa-3x logo"></i></a>

    </div>
    <div class="rightNav">
        <!-- Home link button --> 
        <a class="links" href="/">Home</a>
    </div>
</nav>
